{% extends "layout.html" %}

{% block head %}
	{{ super() }}

{% endblock %}


{% block body %}
	{{ super() }}

<!-- start main -->
<div class="main_bg">
<div class="wrap">	
	<div class="main">
		<!-- start content -->
		<div class="single">
			<!-- start span1_of_1 -->
			<div class="left_content">
				

				<div class="span1_of_1">
					<!-- start product_slider -->
					<div class="product-view">
					    <div class="product-essential">
						    <div class="product-img-box">
						    
							    <div class="product-image">     
							           	<img src="../static/images/large/0001-2.png" alt="Women Shorts" title="Women Shorts" />
							  	</div>
							
							</div>
						</div>
					</div>
					<!-- end product_slider -->
				</div>

				<!-- start span1_of_1 -->
				<div class="span1_of_1_des">
					<div class="desc1">
						<h3>Item Name  </h3>
						<h5>$10</h5>
						<p>Live like Jay Z.</p>
						<div class="share-desc">
							<div class="share">
								<h4>Share Product :</h4>
								
								<ul class="share_nav">
									<li><a href="#"><img src="../static/images/facebook.png" title="facebook"></a></li>
									<li><a href="#"><img src="../static/images/twitter.png" title="Twiiter"></a></li>
					    		</ul>
							</div>
							<div class="clear"></div>
						</div>
				   	 </div>
				</div>
			   	
			   	<div class="clear"></div>
			</div>	
		<!-- end content -->
		</div>
	</div>
</div>		
</div>
{% endblock %}

