{% extends "layout.html" %}

{% block head %}
	{{ super() }}

{% endblock %}


{% block body %}
	{{ super() }}

{% from "__formhelpers.html" import render_field %}

<form method="post" action="/sell_item" class="basic-grey">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.condition) }}
    {{ render_field(form.price) }}
    {{ render_field(form.image) }}
    {{ render_field(form.accept_terms) }}
  </dl>
  <p><input type="submit" value="Sell it!"></p>
</form>

{% endblock %}
